{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des concerts:</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Concert</th>
            <th scope="col">Groupes</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for concert in concerts %}
                <tr>
                    <td><a href="{{path('show_concert', {'id' : concert.id})}}">{{concert.name}}</a></td>
                    <td>{{concert.bands.count()}}</td>
                    <td>{{concert.date|date('d-m-Y')}}</td>
                    <td>
                        <a href="{{path('concert_delete', {'admin_id' : 1, 'id' : concert.id})}}" class="btn btn-danger">Supprimer</a>
                        <a href="{{path('concert_update', {'admin_id' : 1, 'id' : concert.id})}}" class="btn btn-info">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{path('concert_create', {'admin_id' : 1})}}">Créer un nouveau concert</a>
</div>
{% endblock %}
